<table>
  <tr>
    <h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
      sapiente adipisci voluptatem esse cum vitae quia reprehenderit dolorum
      tenetur quasi! Omnis, et perferendis harum fugiat at dolores voluptatibus
      non nam.
    </h2>
  </tr>
  <tr>
    <h5>by Fred</h5>
  </tr>
  <tr>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, soluta
      quis. Nulla temporibus, nisi voluptatibus, debitis repellendus nihil
      labore ratione quis necessitatibus reiciendis minima alias soluta nesciunt
      eveniet corporis sequi?
    </p>
  </tr>

  <tr>
    <img src="" alt="" />
  </tr>
  <tr>
    <img src="" alt="" />
  </tr>
  <tr>
    <button [routerLink]="['/']">Back</button>
  </tr>
</table>
